.hspacer {
		padding: 5%;
}

.vspacer {
		padding-top: 2em;
}


.bp-input {
		width: 40%;
}

input[type="number"].invalid {
		border: 1px solid red;
}

.slash {
		font-weight: bolder;
		font-size: 2em;
		vertical-align: sub;
}
